/* the hml element selector means all of them elements */
/* li {
    color:aqua;
    font-size: 2rem;
} */
/* p, h3{ 
     p, he, you can have multiple selectors 
    font-size: 1.2rem;
    font-family: 'Comic Sans MS';
} */

/* id selector */
#search {
    background-color:crimson;
    color: bisque;
    width: 50vw;
    min-width: 200px;
    border: 2px solid darkred;
}   

/* class selection */

.btn {

}

/* wildcard selector */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* this makes the dimentions be the actual size without border and padding added in the measure*/
    /* everything */
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(202, 255, 226);

    font-family: Arial, cursive;
    font-size: 1rem;
    

}


.box-1{
    background-color: rgba(255,255,255, 0.2);
    
    margin-top: 5px;
    margin-left: 1rem;
    margin-right: 0px;
    margin-bottom: 5px;
}

.box-2{
    background-color: rgba(0,0,0, 0.2);
    margin: 5px 2rem;
}

.container{
    width: 80vw;
    margin: auto;
    background-image: url('images/background.jpg');
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h4{
    font-weight: bolder;
    font-style: italic;
    color: rgb(202, 255, 226);
    text-transform: uppercase;
    font-size: 1.5rem;
}

.links {
    font-weight: bolder;
    font-size: large;
    color: rgb(202, 255, 226);
    font-size: 1.5rem;
}

label[for = "search"]{
    text-transform: uppercase;
}

#search:focus {
    outline: rgb(0, 225, 0) 4px solid;
}

.felx-container{
    /* navbar */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.felx-container{
    list-style: none;
    padding: 2px;
}

